/* App.css */
.navbar-menu {
   background-color: #333; /* Ganti dengan warna biru yang diinginkan */
   padding: 1rem;
   color: #fff;
 }
 
 .navbar-menu a {
   color: #fff;
   text-decoration: none;
   margin-right: 1rem;
 }
 
 .navbar-menu a:hover {
   color: #ccc;
 }
 